.icon-bar {
  width: 90px;
  background-color: red;
}

.custom-btn {
  font-size: small;
  height: 35px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 3px;
}

.custom-font-size {
  font-size: small;
}

.marg-right {
  float: right;
}

.bg-custom {
  background-color: #181818 !important;
}

.bg-bar {
  background-color: #333333 !important;
}

.mr-10 {
  margin-right: 6rem !important;
}

.mb-6 {
  margin-bottom: 6rem !important;
}

.clear {
  clear: both;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.center-fit {
  max-width: 100vw !important;
  max-height: 100vh !important;
  min-height: 100vmin !important;
  min-width: 100vmin !important;
  margin: auto !important;
  display: block !important;
}

.center-fit-full {
  min-width: 100% !important;
  min-height: 100% !important;
  max-width: 100vw !important;
  max-height: 100vh !important;
  margin: auto !important;
  display: block !important;
}

body {
  background: #181818;
  background-image: radial-gradient(#333333 5%, transparent 0);
  background-size: 30px 30px;
  font-family: 'roboto_mediumregular';
  font-size: 14px;
  overflow: hidden;
}

.navbar-collapse {
  max-width: fit-content;
}

button.navbar-toggler {
  max-width: fit-content;
}

.img-responsive {
  height: 100%;
}

.image-btn {
  background-color: #959595 !important;
  margin: auto;
}